@import "tailwindcss";

@theme {
  --color-primary: #1d4ed8;
  --color-secondary: #9333ea;
  --color-accent: #f59e0b;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f4f6;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
